$primaryColor: #8e4bc7;
$white: #ffffff;
$borderColorWhite: #393C49;
$borderColorWhiteBold: #ABBBC2;
$subtitleColor: #E0E6E9;
$cardBackgroundColor: #1F1D2B;
$cardHeaderSeparatorColor: #393C49;
$textInputBackgroundColor: #2D303E;
$textInputPlaceholderColor: #889898;
$sidebarBackgroundColor: #1F1D2B;
$sidebarItemSelectedBackgroundColor: #252836;
$sidebarItemSelectedIconBackgroundColor: $primaryColor;
$dishCardBackgroundColor: $cardBackgroundColor;
$dishCardBorderColor: $cardHeaderSeparatorColor;
$dishCardPriceColor: $borderColorWhiteBold;
$tabBorderColor: $cardHeaderSeparatorColor;
$tabListItemSelectedColor: $primaryColor;
$tabListItemSelectedBorderColor: $primaryColor;
$menuItemDescriptionColor: #ABBBC2;
$menuItemLabelColor: $white;
$menuItemIconColor: $white;
$menuItemSelectedBorderColor: $primaryColor;
$menuItemSelectedLabelColor: $primaryColor;
$menuItemSelectedIconColor: $primaryColor;
$summaryCardBackgroundColor: #1F1D2B;
$summaryCardTitleColor: #ABBBC2;
$summaryCardIconBackgroundColor: #252836;
$summaryCardPercentValueUpColor: #50D1AA;
$summaryCardPercentValueDownColor: #FF7CA3;
$scrollBarTrackBackgroundColor: #1F1D2B;
$scrollBarThumbBackgroundColor: $primaryColor;
$tableHeaderBorderBottomColor: #393C49;
$successBadgeBackgroundColor: #6BE2BE;
$successBadgeTextColor: #50D1AA;
$infoBadgeBackgroundColor: #9290FE;
$infoBadgeTextColor: #9290FE;
$warningBadgeBackgroundColor: #FFB572;
$warningBadgeTextColor: #FFB572;
$dangerBadgeBackgroundColor: #ea3737;
$dangerBadgeTextColor: #8d0a0a;
$dropDownBackgroundColor: $cardBackgroundColor;
$dropDownBorderColor: $tableHeaderBorderBottomColor;
$selectButtonBorderColor: #393C49;

//$primaryColor: #eb96aa;
//$background : #394141;