@import "../../styles/variables";

.dot-collision {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $white;
  color: $white;
}

.dot-primary {
  background-color: $primaryColor;
  color: $primaryColor;
}

.dot-collision::before, .dot-collision::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-collision::before {
  left: -10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $white;
  color: $white;
  animation: dot-collision-before 2s infinite ease-in;
}

.dot-primary::before {
  background-color: $primaryColor;
  color: $primaryColor;
}

.dot-collision::after {
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $white;
  color: $white;
  animation: dot-collision-after 2s infinite ease-in;
  animation-delay: 1s;
}

.dot-primary::after {
  background-color: $primaryColor;
  color: $primaryColor;
}

@keyframes dot-collision-before {
  0%, 50%, 75%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-15px);
  }
}

@keyframes dot-collision-after {
  0%, 50%, 75%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
}